{% extends 'base.html.twig'%}

{% block title %}Conference Guestbook {{conference.city}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; padding: 5px 20px; max-width: 800px; width: 80%; font: 18px/1.5 sans-serif;
    background-color: lightgreen; border-radius: 5px; }
</style>

<div class="example-wrapper">
    <h2>{{conference.city}} Conférence : </h2>

{% if comments|length >= 0%}

    <div>There are {{ comments|length }} comments.</div>

    {% for comment in comments %}
        {% if comment.photoFilename %}
        <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
        {% endif %}

        <h4>{{ comment.author }}</h4>

        <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
        </small>

        <p>{{ comment.text }}</p>
    {% endfor %}

     {% if previous >= 0 %}
            <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Next</a>
        {% endif %}

{% else %}
        <div>Il n'y a pas de commentaire pour cette conférence.</div>
{% endif %}
    <h2>Ajouter un commentaire</h2>
    {#  {{form(comment_form)}}  affiche la totalité du formulaire #}

<div id="comment-form">
    {{form_start(comment_form)}}
    
    <div class="form-group row">
				<div class="col-2">{{form_label(comment_form.author)}} :</div>
				<div class="col-10">{{form_widget(comment_form.author)}}</div>
	</div>
     <div class="form-group row">
				<div class="col-2">{{form_label(comment_form.text)}} :</div>
				<div class="col-10">{{form_widget(comment_form.text)}}</div>
	</div>
     <div class="form-group row">
				<div class="col-2">{{form_label(comment_form.email)}} :</div>
				<div class="col-10">{{form_widget(comment_form.email)}}</div>
	</div>
     <div class="form-group row">
				<div class="col-2">{{form_label(comment_form.photo)}} :</div>
				<div class="col-10">{{form_widget(comment_form.photo)}}</div>
	</div>
     <div class="form-group row">
				<div class="col-2">Envoyer:</div>
				<div class="col-10">{{form_widget(comment_form.submit)}}</div>
	</div>


         {# <div class="col" id="some-custom-id">
            {{ form_rest(comment_form) }} // Affcihe la totalité du reste du formulaire
        </div> #}
    </div>
    {{form_end(comment_form)}}
</div>
{% endblock %}