{% extends 'base.html.twig'%}

{% block title %}Conference Guestbook {{conference.city}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; padding: 5px 20px; max-width: 800px; width: 80%; font: 18px/1.5 sans-serif;
    background-color: l#e3f2fd; border-radius: 5px; }
</style>

<div class="example-wrapper">
    <h2 style="margin-left:20%"> Conférence {{conference.city}} </h2>
  <img id="com_photo" style="border-radius:5px" src="{{asset('uploads/photos/' ~ conference.city ~ '.jpg')}}" />


{% if comments|length >= 0%}

    <div>Il y a  {{ comments|length }} commentaires :</div>
 
    {% for comment in comments %}
        {% if comment.photoFilename %}
        <img id="com_photo" src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />
        {% endif %}

        <h4>{{ comment.author }}</h4>

        <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
        </small>

        <p>{{ comment.text }}</p>
    {% endfor %}

     {% if previous >= 0 %}
            <a href="{{ path('conference', { slug: conference.slug, offset: previous }) }}">Previous</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', { slug: conference.slug, offset: next }) }}">Next</a>
        {% endif %}

{% else %}
        <div>Il n'y a pas de commentaire pour cette conférence.</div>
{% endif %}
<hr/>
    <h2>Ajouter un commentaire :</h2><br/>
    {#  {{form(comment_form)}}  affiche la totalité du formulaire #}

<div id="comment-form">
    {{form_start(comment_form)}}
    
    <div class="form-group row">
				<div class="col-3">{{form_label(comment_form.author)}} :</div>
				<div class="col-9">{{form_widget(comment_form.author,{'attr':{'class':'form-control'}})}}</div>
	</div><br/>
     <div class="form-group row">
				<div class="col-3">{{form_label(comment_form.text, 'Votre commentaire')}} :</div>
				<div class="col-9">{{form_widget(comment_form.text, {'attr': {'class':'form-control','cols': '50', 'rows':'5'}})}}</div>
	</div><br/>
     <div class="form-group row">
				<div class="col-3">{{form_label(comment_form.email)}} :</div>
				<div class="col-9">{{form_widget(comment_form.email,{'attr':{'class':'form-control'}})}}</div>
	</div><br/>
     <div class="form-group row">
				<div class="col-3">{{form_label(comment_form.photo)}} :</div>
				<div class="col-9">{{form_widget(comment_form.photo,{'attr':{'class':'btn btn-outline-info'}})}}</div>
	</div><br/>
     <div class="form-group row">
				<div class="col-5"></div>
				<div class="col-7">{{form_widget(comment_form.submit,{'label':'Envoyer','attr':{'class':'btn btn-outline-info'}})}}</div>
	</div><br/>


         {# <div class="col" id="some-custom-id">
            {{ form_rest(comment_form) }} // Affcihe la totalité du reste du formulaire
        </div> #}
    </div>
    {{form_end(comment_form)}}
</div>
{% endblock %}